
<html>
<head>

    <title>ViewBag Model example passing lsit of employee</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        @foreach (var item in ViewBag.listOfEmp)
        {
            <tr>
                <td>@item.EmpID</td>
                <td>@item.EmpName</td>
                <td>@item.EmpSalary</td>
            </tr>
        }
    </table>
</body>
</html>
